<p>events works!</p>
<section class="conversation-section">
  <div style="display: flex; flex-direction: row; margin-left: 50px; ">

    <div class="accent-line-1"></div>
    <article class="content-wrapper">
      <h1 class="title">Reslarc is a leading provider of secure, precise geospatial insights</h1>
      <p class="description">
        Our secure products and services empower users to achieve mission success on Earth and in space, helping them keep nations safe, improve global navigation, protect our planet, speed up disaster response and more.
      </p>
    </article>
  </div>

<img src="assets/images/home/about1.svg" alt="">
</section>

<section class="content-wrapper-2">
  <div class="what_we_do">
    <h3 style="font-size: 35px;">WHAT WE DO</h3>
    <p style="font-size: 20px;">Operating the most advanced commercial Earth observation
      constellation on orbit, we use the power of very high-
      resolution satellite imagery and AI-powered software
      platforms to deliver ground truth in near real-time.</p>
  </div>
  <article class="content-grid">
    <section class="info-section">
      <div class="info-container">
        <div class="content-box">
          <h2 class="title-2">Building an intelligent future</h2>
          <p class="description">
            With an industry-leading Earth imaging constellation, we provide
            customers with secure, near real-time access to the most accurate,
            highest-resolution commercial satellite imagery collected by us and
            our partners. This data feeds into our 125-plus petabyte imagery
            archive, which we process into the some of the most advanced 2D
            and 3D geospatial content products on the planet, including
            basemaps and a digital twin of Earth. We're also applying deep
            mission expertise and AI-powered software platforms to transform
            petabytes of data into actionable insights and unlock the potential
            of a multi-sensor world.
          </p>
          <a href="#explore" class="cta-link" tabindex="0">
            Explore the Reslarc constellation
          </a>
        </div>
      </div>
    </section>
    <section class="image-section">
      <div class="image-container">
        <img src="assets/images/home/about2.svg" alt="">

      </div>
    </section>
  </article>
</section>

<section class="content-wrapper-2">
  <article class="content-grid">
    <section class="image-section">
      <div class="image-container">
        <img src="assets/images/home/about3.svg" alt="">

      </div>
    </section>
    <section class="info-section">
      <div class="info-container">
        <div class="content-box">
          <h2 class="title-2">WorldView Legion™</h2>
          <p class="description">
            WorldView Legion is designed to meet our customers' evolving
            needs. WorldView Legion represents the best in space infrastructure
            for reliable Earth intelligence.
          </p>
          <a href="#explore" class="cta-link" tabindex="0">
            Explore WorldView legion
          </a>
        </div>
      </div>
    </section>

  </article>
</section>

<section class="content-wrapper-3">
  <div class="what_we_do">
    <h3 style="font-size: 35px;">OUR REACH</h3>
    <p style="font-size: 20px;">You’ve probably seen—or even used—Reslarc Intelligence
      capabilities, even if you didn’t know where they came from..</p>
  </div>
  <article class="content-grid">
    <section class="info-section">
      <div class="info-container-1">
        <div class="content-box">
          <!-- <h2 class="title-2">WorldView Legion™</h2> -->
          <p class="description">
            WorldView Legion is designed to meet our customers' evolving
            needs. WorldView Legion represents the best in space infrastructure
            for reliable Earth intelligence.
          </p>
          <a href="#explore" class="cta-link" tabindex="0">
            Explore WorldView legion
          </a>
        </div>
      </div>
      <div class="info-container-1">
        <div class="content-box">
          <!-- <h2 class="title-2">WorldView Legion™</h2> -->
          <p class="description">
            WorldView Legion is designed to meet our customers' evolving
            needs. WorldView Legion represents the best in space infrastructure
            for reliable Earth intelligence.
          </p>
          <a href="#explore" class="cta-link" tabindex="0">
            Explore WorldView legion
          </a>
        </div>
      </div>
      <div class="info-container-1">
        <div class="content-box">
          <!-- <h2 class="title-2">WorldView Legion™</h2> -->
          <p class="description">
            WorldView Legion is designed to meet our customers' evolving
            needs. WorldView Legion represents the best in space infrastructure
            for reliable Earth intelligence.
          </p>
          <a href="#explore" class="cta-link" tabindex="0">
            Explore WorldView legion
          </a>
        </div>
      </div>
      <!-- <div class="info-container">
        <div class="content-box">
          <h2 class="title-2">Building an intelligent future</h2>
          <p class="description">
            With an industry-leading Earth imaging constellation, we provide
            customers with secure, near real-time access to the most accurate,
            highest-resolution commercial satellite imagery collected by us and
            our partners. This data feeds into our 125-plus petabyte imagery
            archive, which we process into the some of the most advanced 2D
            and 3D geospatial content products on the planet, including
            basemaps and a digital twin of Earth. We're also applying deep
            mission expertise and AI-powered software platforms to transform
            petabytes of data into actionable insights and unlock the potential
            of a multi-sensor world.
          </p>
          <a href="#explore" class="cta-link" tabindex="0">
            Explore the Maxar constellation
          </a>
        </div>
      </div> -->
    </section>
    <section class="image-section">
      <div class="image-container">
        <img src="assets/images/home/about4.svg" alt="">

      </div>
    </section>
  </article>
</section>


