<section class="conversation-section">
  <div style="display: flex; flex-direction: row; margin-left: 50px; ">

    <div class="accent-line-1"></div>
    <article class="content-wrapper">
      <h1 class="title">Maxar is a leading provider of secure, precise geospatial insights</h1>
      <p class="description">
        Our secure products and services empower users to achieve mission success on Earth and in space, helping them keep nations safe, improve global navigation, protect our planet, speed up disaster response and more.
      </p>
    </article>
  </div>

<img src="assets/images/home/about1.svg" alt="">
</section>

<section class="content-wrapper">
  <article class="content-grid">
    <section class="info-section">
      <div class="info-container">
        <div class="content-box">
          <h2 class="title">Building an intelligent future</h2>
          <p class="description">
            With an industry-leading Earth imaging constellation, we provide
            customers with secure, near real-time access to the most accurate,
            highest-resolution commercial satellite imagery collected by us and
            our partners. This data feeds into our 125-plus petabyte imagery
            archive, which we process into the some of the most advanced 2D
            and 3D geospatial content products on the planet, including
            basemaps and a digital twin of Earth. We're also applying deep
            mission expertise and AI-powered software platforms to transform
            petabytes of data into actionable insights and unlock the potential
            of a multi-sensor world.
          </p>
          <a href="#explore" class="cta-link" tabindex="0">
            Explore the Maxar constellation
          </a>
        </div>
      </div>
    </section>
    <section class="image-section">
      <div class="image-container">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/dea83a261728024670ff93b0f019e378a987f1f6757ad48468a25c3482ad4470?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151"
          alt="Maxar constellation visualization"
          class="feature-image"
        />
      </div>
    </section>
  </article>
</section>
