<nav class="navigation">
  <div class="navigation-content">
    <div (click)="routeToHome()" class="logo" >
      <img class="navbar_brand" src="assets/images/home/reslarc@30.png" alt="Navigation Icon" />
    </div>

    <ul #menuList class="menu-list">
      <li><a (click)="showDropdown('intelligence')" class="menu-link">Reslarc Intelligence</a></li>
      <li><a (click)="showDropdown('space')" class="menu-link">Reslarc Space Systems</a> </li>
      <li><a (click)="showDropdown('news')" class="menu-link">News & Events</a> </li>
      <li><a (click)="showDropdown('careers')" class="menu-link">Careers</a> </li>
      <li><a (click)="showDropdown('sales')" class="menu-link">Sales Enquiry</a></li>
      <li><a href="#" class="menu-link">Careers</a></li>
    </ul>
  </div>
</nav>
<!-- Dropdown -->
  <!-- Dynamic Dropdown -->
  <div *ngIf="dropdownVisible" class="dropdown-menu">
    <ul>
      <li *ngFor="let item of dropdownItems">
        <a href="{{ item.link }}">{{ item.label }}</a>
      </li>
    </ul>
  </div>

<!-- Mobile Header -->
<header class="mobile-header scrolling align-items-center justify-content-between" (click)="toggleNavBar()">
  <div class="logo-phone" routerLink="/">
    <img class="svg-2" src="assets/images/home/reslarc@30.png" alt="Navigation Icon" />
  </div>
  <div class="hamburger-menu d-flex flex-column align-items-end">
    <div>
      <div class="line1 bg-purple-1"></div>
      <div class="line2 bg-purple-1"></div>
    </div>
  </div>
  <nav class="nav-bar">
    <ul>
      <li><a (click)="showDropdown('intelligence')" class="menu-link">Reslarc Intelligence</a></li>
      <li><a (click)="showDropdown('space')" class="menu-link">Reslarc Space Systems</a> </li>
      <li><a (click)="showDropdown('space')" class="menu-link">News & Events</a> </li>
      <li><a (click)="showDropdown('space')" class="menu-link">Careers</a> </li>
      <li><a (click)="showDropdown('sales')" class="menu-link">Sales Enquiry</a></li>
      <li><a href="#" class="menu-link">Careers</a></li>
    </ul>

  </nav>
</header>

<script>
  hamburger = document.querySelector(".hamburger-menu");
  hamburger.onclick = function () {
    navBar = document.querySelector(".nav-bar");
    navBar.classList.toggle("active");
  }
</script>
