<div class="registration-form-container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h2>Request Form</h2>

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" placeholder="Enter your name" required />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="Enter your email" required />
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input id="phone" type="tel" formControlName="phone" placeholder="Enter your phone number" required />
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input id="name" type="text" formControlName="name" placeholder="Give more details" required />
    </div>

    <div class="form-group">
      <label for="name">location</label>
      <input id="name" type="text" formControlName="name" placeholder="Give more details" required />
    </div>

    <div class="form-group">
      <label for="name">Coordinates</label>
      <input id="name" type="text" formControlName="name" placeholder="Give more details" required />
    </div>

    <!-- <div class="form-group">
      <label for="organization">Organization</label>
      <input id="organization" type="text" formControlName="organization" placeholder="Enter your organization" />
    </div> -->

    <!-- <div class="form-group">
      <label for="idCard">ID Card</label>
      <input id="idCard" type="file" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
    </div> -->

    <!-- <p  href="https://safehavenmfb.readme.io/reference/checkout-js"
     style="margin-bottom: 20px; margin-top: 20px; color: blue;" (click)="payment()">Click here to make Payment</p> -->


    <div class="form-group">
      <label for="fileType">File Type</label>
      <select id="fileType" formControlName="fileType" required>
        <option value="" disabled selected>Select a file type</option>
        <option value="Photos">Photos</option>
        <option value="Videos">Videos</option>
        <option value="Pdf">Pdf</option>
      </select>
    </div>

<div style="margin-bottom: 30px;">
  <a
  href="https://safehavenmfb.readme.io/reference/checkout-js"
  style="margin-top: 20px; padding-bottom: 30px; margin-top: 20px; color: blue; cursor: pointer;"
  (click)="payment()">Click here to make Payment</a>
</div>

    <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
  </form>
</div>
