<div class="app-home">
  <section class="hero">
    <div class="hero-content">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c9e5848ea78f153c2a7123bd5ccf159b4cde093a1564300cfcba942437372d63?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" alt="Space exploration background" class="hero-background" />
      <article class="hero-text">
        <h1 class="hero-title">
          Explore, <br />
          Connect, <br />
          Protect
        </h1>
        <p class="hero-description">
          Helping organizations explore space, connect <br />
          humanity and protect our planet and its people.
        </p>
      </article>
    </div>
  </section>

  <section class="imagery-section">
    <div class="feature-container">
      <div class="feature-grid">
        <div class="feature-column">
          <article class="feature-card tasking-capacity">
            <h2 class="feature-title-top"> Reslarc Intelligence.</h2>
            <!-- <p class="feature-description">

            </p>
            <a href="#" class="feature-link">Get Started</a> -->
          </article>
        </div>
        <div class="feature-column">
          <article class="feature-card hd-basemap">
            <h2 class="feature-title-top">
              Reslarc Space Systems.
            </h2>
            <!-- <p class="feature-description">
              Vivid Advanced imagery basemaps now covers metro areas and
              regularly updates over areas of major urban development.
            </p>
            <a href="#" class="feature-link">Details in the blog</a> -->
          </article>
        </div>
      </div>
    </div>
    <div class="imagery-container">
      <div class="image-gallery">
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a01826defc6aedf17ae8a032240af7066230a72d10e07509e3d34615d35a087a?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="Reslarc imagery example 1" />
        </div>
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/828636489bf82de6d8db949140f4fdc43fe9b18c6e2e54711884eb3ea7ca15dd?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="Reslarc imagery example 2" />
        </div>
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-grid">
        <div class="feature-column">
          <article class="feature-card tasking-capacity">
            <h2 class="feature-title">Unmatched 30 cm tasking capacity is here</h2>
            <p class="feature-description">
              With the addition of WorldView Legion, Reslarc can now collect
              more than 1.5M sq km of 30 cm-class imagery per day, providing
              never-before-available capacity to image your area of interest.
            </p>
            <a href="#" class="feature-link">Get Started</a>
          </article>
        </div>
        <div class="feature-column">
          <article class="feature-card hd-basemap">
            <h2 class="feature-title">
              The first 15 cm HD basemap from satellite imagery
            </h2>
            <p class="feature-description">
              Vivid Advanced imagery basemaps now covers metro areas and
              regularly updates over areas of major urban development.
            </p>
            <a href="#" class="feature-link">Details in the blog</a>
          </article>
        </div>
      </div>
    </div>
  </section>


  <section class="imagery-section">
    <div class="Reslarc-updates">
      <h2  class="Reslarc-updates__title">Reslarc INTELLIGENCE UPDATE</h2>
      <p class="Reslarc-updates__description">
        Our geospatial intelligence solutions deliver critical insights
        <br />
        for customers around the world.
      </p>
    </div>

    <div class="imagery-container">
      <div class="image-gallery">
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a01826defc6aedf17ae8a032240af7066230a72d10e07509e3d34615d35a087a?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="Reslarc imagery example 1" />
        </div>
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/828636489bf82de6d8db949140f4fdc43fe9b18c6e2e54711884eb3ea7ca15dd?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="Reslarc imagery example 2" />
        </div>
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4b908ce1c19aabc3bb676ab265ddc7196168090111694c7a3fc2af43a93fe67a?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="Reslarc imagery example 3" />
        </div>
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-grid">
        <div class="feature-column">
          <article class="feature-card tasking-capacity">
            <h2 class="feature-title">Unmatched 30 cm tasking capacity is here</h2>
            <p class="feature-description">
              With the addition of WorldView Legion, Reslarc can now collect
              more than 1.5M sq km of 30 cm-class imagery per day, providing
              never-before-available capacity to image your area of interest.
            </p>
            <a href="#" class="feature-link">Get Started</a>
          </article>
        </div>
        <div class="feature-column">
          <article class="feature-card hd-basemap">
            <h2 class="feature-title">
              The first 15 cm HD basemap from satellite imagery
            </h2>
            <p class="feature-description">
              Vivid Advanced imagery basemaps now covers metro areas and
              regularly updates over areas of major urban development.
            </p>
            <a href="#" class="feature-link">Details in the blog</a>
          </article>
        </div>
        <div class="feature-column">
          <article class="feature-card precision-3d">
            <h2 class="feature-title">Precision3D</h2>
            <p class="feature-description">
              Our digital twin of Earth provides highly accurate 3D datasets of
              real-world environments for simulation, training, navigation,
              network planning and other complex environments.
            </p>
            <a href="#" class="feature-link">Learn more</a>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="imagery-section">
    <div class="Reslarc-updates">
      <h2  class="Reslarc-updates__title">Reslarc SPACE SYSTEMS UPDATES</h2>
      <p class="Reslarc-updates__description">
        Our geospatial intelligence solutions deliver critical insights
        <br />
        for customers around the world.
      </p>
    </div>

    <div class="imagery-container">
      <div class="image-gallery">
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/37b0690daba041e04c8110120585629ff5f57946878d361b1ee87531f8ee66b8?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="News image 1" />
        </div>
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5022e5f46f4ed3d3fb2699ff344d1c91193651cacb1a692943758c37550d0d24?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="News image 2" />
        </div>
        <div class="image-column">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c4d684d5b83f02020380ad3e904446ee09260cedd814dc9f34003a7df771b88f?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151" class="gallery-image" alt="News image 3" />
        </div>
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-grid">
        <div class="feature-column">
          <article class="feature-card tasking-capacity">
            <h2 class="feature-title">Unmatched 30 cm tasking capacity is here</h2>
            <p class="feature-description">
              With the addition of WorldView Legion, Reslarc can now collect
              more than 1.5M sq km of 30 cm-class imagery per day, providing
              never-before-available capacity to image your area of interest.
            </p>
            <a href="#" class="feature-link">Get Started</a>
          </article>
        </div>
        <div class="feature-column">
          <article class="feature-card hd-basemap">
            <h2 class="feature-title">
              The first 15 cm HD basemap from satellite imagery
            </h2>
            <p class="feature-description">
              Vivid Advanced imagery basemaps now covers metro areas and
              regularly updates over areas of major urban development.
            </p>
            <a href="#" class="feature-link">Details in the blog</a>
          </article>
        </div>
        <div class="feature-column">
          <article class="feature-card precision-3d">
            <h2 class="feature-title">Precision3D</h2>
            <p class="feature-description">
              Our digital twin of Earth provides highly accurate 3D datasets of
              real-world environments for simulation, training, navigation,
              network planning and other complex environments.
            </p>
            <a href="#" class="feature-link">Learn more</a>
          </article>
        </div>
      </div>
    </div>
  </section>


</div>
