<div class="app-home">

  <section class="hero">
    <div class="hero-content">
      <img class="hero-background" src="assets/images/home/image4.svg" alt="Navigation Icon" />
      <div class="heroContainer">
        <div class="rule">
          <span class="golden"></span>
          <span class="white"></span>
        </div>
        <article>
          <h1 class="hero-title">
            Explore,
            Connect,
            Protect
          </h1>
          <p class="hero-description">
            Helping organizations explore space, connect <br />
            humanity and protect our planet and its people.
          </p>
        </article>
      </div>
    </div>
  </section>

  <section class="section1">
    <div style=" display: flex; flex-direction:column;     width: 100%;  ">
      <div class="header">
        <h3>Reslarc Intelligence</h3>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image3.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff;margin: 0 0 20px 0;">Reliable Geospatial Intelligence</h4>
        <div>
          <p style="color: #fff;margin: 0 0 20px 0;">Unlock advanced, timely geospatial insights to solve national
            security, defense and
            commercial missions
            in new and innovative ways.
          </p>
        </div>
        <a style="color: #fff;margin: 0 0 20px 0;">Explore More</a>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <div class="header">
        <h3>Reslarc Space Systems</h3>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image8.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff;margin: 0 0 20px 0;">Innovative Space Systems</h4>
        <div>
          <p style="color: #fff;margin: 0 0 20px 0;">Redefine what's possible in space with proven spacecraft,
            components and robotics.
          </p>
        </div>
        <a style="color: #fff;margin: 0 0 20px 0;">Explore More</a>
      </div>
    </div>

  </section>

  <div class="Reslarc-updates">
    <h2 class="Reslarc-updates__title">Reslarc INTELLIGENCE UPDATE</h2>
    <p class="Reslarc-updates__description">
      Our geospatial intelligence solutions deliver critical insights
      <br />
      for customers around the world.
    </p>
  </div>

  <section class="section1">
    <div style=" display: flex; flex-direction:column;     width: 100%;  ">
      <!-- <div class="header">
        <h3>Unmatched 30 cm tasking capacity is here</h3>
      </div> -->
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image9.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff;margin: 0 0 20px 0;">Unmatched 30 cm tasking capacity is here</h4>
        <div>
          <p style="color: #fff;margin: 0 0 20px 0;">With the addition of WorldView Legion, Reslarc can now collect
            more than 1.5M sq km of 30 cm-class imagery per day, providing
            never-before-available capacity to image your area of interest.
          </p>
        </div>
        <a style="color: #fff;margin: 0 0 20px 0;">Get Started</a>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <!-- <div class="header">
        <h3>Reslarc Intelligence</h3>
      </div> -->
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image5.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff; margin: 0 0 20px 0;">The first 15 cm HD basemap from satellite
          imagery</h4>
        <div>
          <p style="color: #fff; margin: 0 0 20px 0;">Vivid Advanced imagery basemaps now covers metro areas and
            regularly updates over areas of major urban development.
          </p>
        </div>
        <a style="color: #fff; margin: 0 0 20px 0;">Details in the Blog</a>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <!-- <div class="header">
        <h3>Reslarc Intelligence</h3>
      </div> -->
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image1.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff; margin: 0 0 20px 0;">Precision3D</h4>
        <div>
          <p style="color: #fff; margin: 0 0 20px 0;">Our digital twin of Earth provides highly accurate 3D datasets of
            real-world environments for simulation, training, navigation,
            network planning and other complex environments.
          </p>
        </div>
        <a style="color: #fff; margin: 0 0 20px 0;">Learn More</a>
      </div>
    </div>

  </section>

  <div class="Reslarc-updates">
    <h2 class="Reslarc-updates__title">Reslarc Space Systems Updates</h2>
    <p class="Reslarc-updates__description">
      Our space technology innovations and partnerships are
      <br />
      driving better outcomes for our customers.
    </p>
  </div>

  <section class="section1">
    <div style=" display: flex; flex-direction:column;     width: 100%;  ">
      <!-- <div class="header">
        <h3>Reslarc Intelligence</h3>
      </div> -->
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image6.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff; margin: 0 0 20px 0;">Reslarc Space Systems-Built Ovzon 3 Satellite
          Launched</h4>
        <div>
          <p style="color: #fff; margin: 0 0 20px 0;">Reslarc Space Systems designed and manufactured this specialized
            satellite for Ovzon, a Swedish-based SATCOM as-a-Service
            provider dedicated to offering world-leading mobile satellite
            communications services, to customers across the globe.
          </p>
        </div>
        <a style="color: #fff; margin: 0 0 20px 0;">Learn More</a>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <!-- <div class="header">
        <h3>Reslarc Intelligence</h3>
      </div> -->
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image7.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff; margin: 0 0 20px 0;">NASA’S Reslarc Space Systems-built Psyche
          Deep Space Spacecraft Performing Well After
          Launch</h4>
        <div>
          <p style="color: #fff; margin: 0 0 20px 0;">The Reslarc Space Systems-built Psyche chassis spread its two
            solar arrays and successfully started maneuvers toward the
            asteroid belt.
          </p>
        </div>
        <a style="color: #fff; margin: 0 0 20px 0;">Learn More</a>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <!-- <div class="header">
        <h3>Reslarc Intelligence</h3>
      </div> -->
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image2.svg" alt="Navigation Icon" />
      </div>
      <div class="threeCardComponent">
        <h4 style="color: #fff; margin: 0 0 20px 0;">Reslarc Space Systems-built Galaxy
          37/Horizons-4 satellite for Intelsat performing
          well after launch</h4>
        <div>
          <p style="color: #fff; margin: 0 0 20px 0;">Shortly after liftoff and separation, the satellite began
            receiving
            and sending signals and deployed its solar arrays.
          </p>
        </div>
        <a style="color: #fff; margin: 0 0 20px 0;">Learn More</a>
      </div>
    </div>

  </section>

  <div class="Reslarc-updates">
    <h2 class="Reslarc-updates__title">WHO WE SERVE</h2>
    <p class="Reslarc-updates__description">
      Below are the some of our Clients
      <br />
      from around the world.
    </p>
  </div>
  <section>
    <div class="logo-carousel">
      <div class="logo-track">
        <img src="assets/images/home/nda.png" alt="Logo 1" class="logo">
        <img src="assets/images/home/npf.png" alt="Logo 2" class="logo">
        <img src="assets/images/home/nscdc.png" alt="Logo 3" class="logo">
        <img src="assets/images/home/MinistryOfPetroleum.png" alt="Logo 4" class="logo">
        <img src="assets/images/home/navy.png" alt="Logo 5" class="logo">
        <img src="assets/images/home/naic.png" alt="Logo 6" class="logo">
        <img src="assets/images/home/dia.png" alt="Logo 7" class="logo">
        <img src="assets/images/home/dhq.png" alt="Logo 8" class="logo">
        <img src="assets/images/home/nda.png" alt="Logo 1" class="logo"> <!-- Duplicate starts here -->
        <img src="assets/images/home/nscdc.png" alt="Logo 2" class="logo">
        <img src="assets/images/home/navy.png" alt="Logo 3" class="logo">
        <img src="assets/images/home/MinistryOfPetroleum.png" alt="Logo 4" class="logo">
        <img src="assets/images/home/npf.png" alt="Logo 5" class="logo">
        <img src="assets/images/home/naic.png" alt="Logo 6" class="logo">
        <img src="assets/images/home/dia.png" alt="Logo 7" class="logo">
        <img src="assets/images/home/dhq.png" alt="Logo 8" class="logo">
      </div>
    </div>
  </section>

</div>
