<div class="app-home">
  <section class="hero">
    <div class="hero-content">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c9e5848ea78f153c2a7123bd5ccf159b4cde093a1564300cfcba942437372d63?placeholderIfAbsent=true&apiKey=87b7ee3d57b849539b06e4310a49f151"
        alt="Space exploration background" class="hero-background" />
      <article class="hero-text">
        <h1 class="hero-title">
          Explore, <br />
          Connect, <br />
          Protect
        </h1>
        <p class="hero-description">
          Helping organizations explore space, connect <br />
          humanity and protect our planet and its people.
        </p>
      </article>
    </div>
  </section>

  <section class="section1">
    <div style=" display: flex; flex-direction:column;     width: 100%;  ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image3.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image8.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

  </section>

  <div class="Reslarc-updates">
    <h2 class="Reslarc-updates__title">Reslarc INTELLIGENCE UPDATE</h2>
    <p class="Reslarc-updates__description">
      Our geospatial intelligence solutions deliver critical insights
      <br />
      for customers around the world.
    </p>
  </div>

  <section class="section1">
    <div style=" display: flex; flex-direction:column;     width: 100%;  ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image9.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image5.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image1.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

  </section>

  <div class="Reslarc-updates">
    <h2 class="Reslarc-updates__title">Reslarc SPACE SYSTEMS UPDATES</h2>
    <p class="Reslarc-updates__description">
      Our geospatial intelligence solutions deliver critical insights
      <br />
      for customers around the world.
    </p>
  </div>

  <section class="section1">
    <div style=" display: flex; flex-direction:column;     width: 100%;  ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image6.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image7.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

    <div style=" display: flex; flex-direction:column;    width: 100%; ">
      <div style="padding: 27px 20px; background-color:#003863;">
        <p style="color: #fff;">Reslarc Intelligence</p>
      </div>
      <div style="width: 100%;">
        <img width="100%" class="svg-2" src="assets/images/home/image2.svg" alt="Navigation Icon" />
      </div>
      <div style="padding: 50px 50px; background-color:#003863;">
        <p style="color: #fff;">Reliable Geospatial Intelligence</p>
        <p style="color: #fff;">Unlock advanced, timely geospatial insights to solve national security, defense and
          commercial missions
          in new and innovative ways.
        </p>
        <p style="color: #fff;">Explore More</p>
      </div>
    </div>

  </section>

</div>
