<div class="dashboard-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="sidebar-header">
      <!-- <h2>App Name</h2> -->
      <div class="logo" (click)="routeToHome()">
        <img class="navbar_brand" src="assets/images/home/reslarc_logoo.svg" alt="Navigation Icon" />
      </div>
    </div>

    <div>
      <p style="color: rgb(231, 164, 76); font-size: 30px;">CAST-MP</p>
    </div>
    <ul class="menu">
      <li (click)="routeToAllRequest()"  routerLinkActive="active">All Request</li>
      <li (click)="routeToRequest()"  routerLinkActive="active">Add Requests</li>
      <li (click)="routeToPayments()" routerLinkActive="active">Payments</li>
      <li (click)="logOut()">Log Out</li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="main-content">
    <app-requests *ngIf="showRequest" ></app-requests>
    <app-all-requests *ngIf="showAllRequest"></app-all-requests>
    <app-payments *ngIf="showPayments"></app-payments>
    <app-logout *ngIf="showLogout"></app-logout>
  </div>
</div>
